main{
  background-color: black;  /*  */
}

.main__nav--item{
    margin-top: 10 px;
    list-style-type:none;
    padding-left: 0;
}

.main__nav--item{
    display: inline-block;
}

.main__nav--item a{
    color: black;
    /* background color: blue; */
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}

.main__nav--item a:hover{
color: red;
font-size: 20px;
}

.main__nav--item a:active{
    color: green;
}
.main__nav--item a::after{
    content: "|";
}